<h1>Clase 7 - Mongo DB</h1>
<p>
    En esta clase conectamos nuestro proyecto con una base en mongo DB. Para eso instalamos la librería mongoose.
</p>
<h2>Listado de rutas en la App</h2>
<ul>
    <li><a href="/products">Productos</a></li>
</ul>